.Toolbar{
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 300;
    justify-content: space-between;
    align-items: center;
    background-color: indianred;
    padding: 0 20px;
    box-sizing: border-box;
}
.Toolbar nav{
    height: 100%;
}

@media (max-width:499px){
    .DesktopOnly{
        display: none;
    }
    
}
@media (min-width:500px){
    .MobileOnly{
        display: none;
    }
}