.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.NavigationItem a{
   color: brown;
   text-decoration: none;
   width:100%;
   box-sizing: border-box;
   display: block;
}
.NavigationItem a.Active{
  background: rgba(0, 0, 0, 0.513);
}

.NavigationItem a:hover{
   border-bottom: 4px solid slategrey;
}

@media (min-width:500px){
   .NavigationItem{
      margin: 0;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
  }
  .NavigationItem a{
      color: white;
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
      display: block;
  }
  
  .NavigationItem a:hover{
     background: seagreen;
     border-bottom: 4px solid slategrey;
  }
}